.wrapper{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    min-height: 100vh;
}
.second-component{
    background-color: #111827;
    width: 100%;
    padding: 20px;
    line-height: 30px;
    
}
.character-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;

}
.form-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 40px;
}
input{
    margin-right: 20px;
    cursor: pointer;
}
input[type='range']{
    width: 100%;
}


.strength-wrapper{
    width: 100%;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.button-component{
    width: 100%;
    background-color: #235ede;
    margin: 20px 0;
    
}
.button-component button{
    padding: 20px;
    background: none;
    color: #fff;
    font-size: 18px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.strength-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.strength-icons .fa-minus{
    padding: 4px;
    font-size: 30px;
    margin-left: 5px;
    color:  gray;
    font-weight: bold;
}

.font-awesome-icons.weak .fa-minus:nth-child(1){
    color: #b91c1c;
}
.font-awesome-icons.strong .fa-minus{
    color: #84cc16 ;
}

.font-awesome-icons.medium .fa-minus:first-child,
.font-awesome-icons.medium .fa-minus:nth-child(2) {
    color: #fcd34d;
}



